<nav class="nav main-nav">
  <ul>
    <li><a href="/">Boutique</a></li>
    <li><a href="/about">à propos</a></li>
    <li><a href="/cart">Votre Panier</a></li>
  </ul>
</nav>
<h1 class="book-name book-name-large">Henri Potier</h1>