* {
	box-sizing: border-box;
	font-family: Raleway;
	color: #777;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.nav ul {
	margin: 0;
}

.nav li {
	display: inline;
}

.nav a {
	display: inline-block;
	padding: .5em;
	color: white;
	text-decoration: none;
}

.main-nav {
	text-align: center;
	font-size: 1.1em;
	font-weight: lighter;
	border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.payment-cart {
	position: relative;
	width: 100%;
	margin-bottom: 40px;
	height: 50px;
}

.payment-offer {
	position: absolute;
	left: 0;
	bottom: 3px;
}

.payment-button {
	position: absolute;
	right: 0;
	bottom: 3px;
	border-radius: 6px;
	font-weight: bold;
}

.main-nav li {
	padding: 0 5%;
}

.nav a:hover {
	background-color: rgba(255, 255, 255, .3)
}

.main-header {
	background-color: rgba(0, 0, 0, .6);
	background-image: url("Images/howgard.jpg");
	background-blend-mode: multiply;
	background-size: cover;
	padding-bottom: 30px;
}

.added-item {
	background-color: white;
	color: green;
	cursor: initial !important;
	border: none;
}

#book-synopsis {
	text-align: left;
	height: 204px;
	overflow-y: scroll;
	font-size: 17px;
}

.book-name {
	text-align: center;
	margin: 0;
	font-size: 4em;
	font-weight: normal;
	color: white;
}

.book-name-large {
	font-size: 8em;
}

.content-section {
	min-height: 100%;
	margin: 1em;
	text-align: center;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 1.5em;
}

.section-header {
	font-family: "Metal Mania";
	font-weight: normal;
	color: #333;
	text-align: center;
	font-size: 2.5em;
}

.about-book-image {
	float: left;
	height: 270px;
	width: 380px;
	margin: 15px;
	border-radius: 50%;
}

.main-footer {
	background-color: #963124;
	color: white;
	padding: .25em 0;
	margin-top: 60px;
	width: 100%;
}

.main-footer-container {
	display: flex;
	align-items: center;
}

.main-footer-container ul {
	flex-grow: 1;
	text-align: end;
}

.footer-nav li {
	padding: 0 .5em;
}

.footer-nav img {
	width: 30px;
	height: 30px;
}

.btn {
	text-align: center;
	vertical-align: middle;
	padding: .67em .67em;
	cursor: pointer;
}

.btn-header {
	margin: .5em 15% 2em 15%;
	color: white;
	border: 2px solid #192166;
	background-color: rgba(255, 255, 255, .1);
	border-radius: 0;
	font-size: 1.5em;
	font-weight: lighter;
	padding-left: 2em;
	padding-right: 2em;
}

.btn-header:hover {
	background-color: rgba(255, 255, 255, .3);
}

.btn-play {
	display: block;
	margin: 0 auto;
	color: #192166;
	font-size: 4em;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	padding: 0;
	text-align: center;
}

.btn-primary {
	color: white;
	background-color: #963124;
	border: none;
	border-radius: .3em;
	font-weight: bold;
}

.btn-primary:hover {
	background-color: #963124;
}

.tour-row {
	border-bottom: 1px solid black;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.tour-row:last-child {
	border: none;
}

.tour-item {
	display: inline-block;
	padding-right: .5em;
}

.tour-date {
	color: #555;
	width: 11%;
	font-weight: bold;
}

.tour-city {
	width: 24%;
}

.tour-arena {
	width: 42%;
}

.tour-btn {
	max-width: 19%;
}

.shop-item {
	margin: 20px 10px 20px 10px;
	text-align: center;
	width: 200px;
}

.shop-cart-button {
	position: absolute;
	top: 17%;
	right: 5%;
	font-size: 17px;
	margin: 0 auto;
	color: white;
	background-color: #963124;
	border: 3px solid #963124;
}

.shop-cart-button:hover {
	cursor: pointer;
	opacity: 0.67;
	;
}

.shop-item-title {
	display: block;
	width: 100%;
	height: 28px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	color: #333;
	margin-bottom: 15px;
}

.shop-item-image {
	height: 300px;
}

.shop-item-details {
	display: flex;
	align-items: center;
	padding: 5px;
	width: 186px;
}

.shop-item-price {
	flex-grow: 1;
	color: #333;
}

.shop-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.shop-cart {
	display: flex;
	flex-wrap: wrap;
}

.cart-header {
	font-weight: bold;
	font-size: 1.25em;
	color: #333;
}

.cart-column {
	display: flex;
	align-items: center;
	border-bottom: 1px solid black;
	margin-right: 1.5em;
	padding-bottom: 10px;
	margin-top: 10px;
}

.cart-row {
	margin-top: 7px;
}

.cart-item {
	width: 45%;
}

.cart-price {
	width: 20%;
	font-size: 1.2em;
	color: #333;
}

.cart-quantity {
	width: 35%;
}

.cart-item-title {
	color: #333;
	margin-left: .5em;
	font-size: 1.2em;
}

.cart-item-image {
	width: 75px;
	height: auto;
	border-radius: 10px;
}

.btn-danger {
	color: white;
	background-color: #EB5757;
	border: none;
	border-radius: .3em;
	font-weight: bold;
}

.btn-danger:hover {
	background-color: #CC4C4C;
}

.cart-quantity-input {
	height: 34px;
	width: 50px;
	border-radius: 5px;
	border: 1px solid #192166;
	background-color: #eee;
	color: #333;
	padding: 0;
	text-align: center;
	font-size: 1.2em;
	margin-right: 25px;
}

/* .cart-row:last-child {
	border-bottom: 1px solid black;
} */

.cart-row:last-child .cart-column {
	border: none;
}

.cart-total {
	text-align: end;
	margin-top: 10px;
	margin-right: 10px;
}

.cart-total-title {
	font-weight: bold;
	font-size: 1.5em;
	color: black;
	margin-right: 20px;
}

.cart-total-price {
	color: #333;
	font-size: 1.1em;
}

.btn-purchase {
	display: block;
	margin: 40px auto 80px auto;
	font-size: 1.75em;
}

#synopsis {
	padding: 40px;
}

#image-book {
	height: 400px;
	float: left;
	padding: 7px;
}

.quantity {
	position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

.quantity input {
	width: 67px;
	height: 42px;
	line-height: 1.65;
	float: left;
	display: block;
	padding: 0;
	margin: 0;
	padding-left: 20px;
	border: 1px solid #eee;
}

.quantity input:focus {
	outline: 0;
}

.quantity-nav {
	float: left;
	position: relative;
	height: 42px;
}

.quantity-button {
	position: relative;
	cursor: pointer;
	border-left: 1px solid #eee;
	width: 20px;
	text-align: center;
	color: #333;
	font-size: 13px;
	font-family: "Trebuchet MS", Helvetica, sans-serif !important;
	line-height: 1.7;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.quantity-button.quantity-up {
	position: absolute;
	height: 50%;
	top: 0;
	border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
	position: absolute;
	bottom: -1px;
	height: 50%;
}

#price {
	padding-top: 11px;
	margin-left: 10%;
	font-size: 23px;
	font-weight: bold;
}

.alert {
	display: none;
	padding: 20px;
	background-color: #f44336;
	color: white;
	opacity: 1;
	transition: opacity 0.7s;
	margin-bottom: 15px;
	position: absolute;
	top: 42px;
	right: 10px;
}

.alert.success {
	background-color: #4CAF50;
}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.7s;
}

.closebtn:hover {
	color: black;
}