<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head.ejs') %>
</head>

<body>
  <header class="main-header">
    <%- include('../partials/header.ejs') %>
  </header>

  <section class="content-section container">
    <h2 class="section-header">à propos</h2>
    <img class="about-book-image" src="Images/Trio.jpg">
    <p>Après la mort de ses parents (Lily et James Potter), Harry Potter est
      recueilli par sa tante maternelle Pétunia et son oncle Vernon à l'âge d'un
      an. Ces derniers, animés depuis toujours d'une haine féroce envers les
      parents du garçon qu'ils qualifient de gens « bizarres », voire de «
      monstres »16, traitent froidement leur neveu et demeurent indifférents aux
      humiliations que leur fils Dudley lui fait subir. Harry ignore tout de
      l'histoire de ses parents, si ce n'est qu'ils ont été, semble-t-il, tués
      dans un accident de voiture17. Cependant, le jour des onze ans de Harry,
      un
      demi-géant du nom de Rubeus Hagrid vient le chercher pour l'informer de
      son
      inscription à Poudlard, une école de sorcellerie où il est inscrit depuis
      sa
      naissance, et lui remettre sa lettre. Il lui révèle qu’il a toujours été
      un
      sorcier, tout comme l'étaient ses parents, tués en réalité par le plus
      puissant mage noir du monde de la sorcellerie : Voldemort (surnommé «
      Celui-Dont-On-Ne-Doit-Pas-Prononcer-Le-Nom », « Vous savez qui » ou « Tu
      sais qui »)18. Ce serait Harry lui-même, alors qu'il n'était encore qu'un
      bébé, qui aurait fait ricocher le sortilège que Voldemort lui destinait,
      neutralisant ses pouvoirs et le réduisant à l'état de créature
      insignifiante19. Le fait d'avoir vécu son enfance chez son oncle et sa
      tante
      dépourvus de pouvoirs magiques lui aurait permis de grandir à l'abri de
      l'admiration qu'il suscite dans le monde des sorciers. Hagrid l'accompagne
      ensuite sur le chemin de Traverse pour acheter sa baguette magique et ses
      fournitures scolaires. Le demi-géant en profite pour récupérer sur ordre
      de
      Dumbledore un mystérieux paquet à Gringotts, la banque des sorciers.
      Harry fait la connaissance de Ron Weasley et Hermione Granger dans le
      Poudlard Express, le train les conduisant à l'école, et découvre
      rapidement l'hostilité que semblent lui vouer le jeune Drago Malefoy et le
      professeur de potions Severus Rogue20. À leur arrivée à Poudlard, les
      élèves sont répartis dans différentes maisons après avoir enfilé le «
      choixpeau » qui analyse leur personnalité : Harry, Ron et Hermione sont
      tous les trois répartis dans la maison Gryffondor.
  </section>

  <footer class="main-footer">
    <%- include('../partials/footer.ejs') %>
  </footer>
</body>

</html>