<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head.ejs') %>
</head>

<body>
  <header class="main-header">
    <%- include('../partials/header.ejs') %>
  </header>
  <section class="container content-section">
    <h2 class="section-header">VOTRE PANIER</h2>
    <div class="cart-row" style="display: flex;">
      <span class="cart-item cart-header cart-column">Vos produits</span>
      <span class="cart-price cart-header cart-column">Prix</span>
      <span class="cart-quantity cart-header cart-column">quantité</span>
    </div>
    <div class="cart-items">
    </div>
    <div class="cart-total">
      <strong class="cart-total-title">Prix</strong>
      <span class="cart-total-price"></span>
    </div>
    <div class="cart-total">
      <strong class="cart-total-title">Prix avec réduction</strong>
      <span class="cart-total-price offer"></span>
    </div>
    <button class="btn btn-primary btn-purchase" type="button">Payer</button>
  </section>
  <footer class="main-footer">
    <%- include('../partials/footer.ejs') %>
  </footer>
  <script type='text/javascript' src="cart.js" async></script>
</body>

</html>